extends layout

block content
    if isRedirect
        meta(http-equiv="refresh" content="7; url=http://clubcypher.club/login")
    style.
        form input[type="email"] {
            text-transform: lowercase;
        }
    #cursor
        .cursor__circle
    .container1
        if eventname == 'click'
            form.registerform(method='post' action='/student/register/click')
                h1.title Register for (c)lick
                if error
                    if errorcode == 'red'
                        p.error1= error
                    else
                        p.error2= error
                .form-group
                    label(for='name') Full Name
                    input(type='text' name='name' placeholder='eg. Elon Musk' maxlength='20' required='required')
                .form-group
                    label(for='email') Email Address
                    input(type='email' name='email' pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2, 4}$" placeholder='eg. elon_musk@gmail.com' maxlength='70' required='required')
                .form-group
                    label(for='phonenumber') Phone Number
                    input(type='number' name='phonenumber' placeholder='eg. 9876543210' maxlength='10' required='required')
                .form-group
                    label(for='schoolname') School / Institution Name
                    input(type='text' name='schoolname' placeholder='eg. Delhi Public School' maxlength='45' required='required')
                .form-group
                    label(for='password') Password
                    input(type='password' name='password' autocomplete='off' placeholder='eg. Tesla' required='required')
                .form-group
                    label(for='passwordConfirm') Confirm Password
                    input(type='password' name='passwordConfirm' autocomplete='off' placeholder='eg. Tesla' required='required')
                p.registerpage
                    | Already registered ? 
                    a.register(href='/student/login' cursor-class='arrow') Login
                input.btn(type='submit' value='Register')
        else
            form.registerform(method='post' action='/student/register/clipped')
                h1.title 
                    | Register for (c)lipped
                if error
                    if errorcode == 'red'
                        p.error1= error
                    else
                        p.error2= error
                .form-group
                    label(for='name') Full Name
                    input(type='text' name='name' placeholder='eg. Elon Musk' maxlength='20' required='required')
                .form-group
                    label(for='email') Email Address
                    input#studentmail(type='email' name='email' pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2, 4}$" placeholder='eg. elon_musk@gmail.com' maxlength='70' required='required')
                .form-group
                    label(for='phonenumber') Phone Number
                    input(type='number' name='phonenumber' placeholder='eg. 9876543210' maxlength='10' required='required')
                .form-group
                    label(for='schoolname') School / Institution Name
                    input(type='text' name='schoolname' placeholder='eg. Delhi Public School' maxlength='45' required='required')
                .form-group
                    label(for='password') Password
                    input(type='password' name='password' autocomplete='off' placeholder='eg. Tesla' required='required')
                .form-group
                    label(for='passwordConfirm') Confirm Password
                    input(type='password' name='passwordConfirm' autocomplete='off' placeholder='eg. Tesla' required='required')
                p.registerpage
                    | Already registered ? 
                    a.register(href='/student/login' cursor-class='arrow') Login
                input.btn(type='submit' value='Register')